p1 {
    color: red;

}
marquee {
    color: white;
}
p1 {
    font-family: "Times New Roman", Times, serif;
}
p1 {
    text-align: center;
}
body {background-image:url('https://mblogthumb-phinf.pstatic.net/20150911_199/ggariana_1441972118418p5Rzs_JPEG/zyzz-workout.jpg?type=w2');}
h1 {
     color: white; text-align:center;
}
/* 杰克斑马 hover overlay*/
.container {
    position: relative;
    width: 50%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    overflow: hidden;
    width: 28%;
    height: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.example1 {
    height: 50px;
    overflow: hidden;
    position: relative;
    color: white;
}
.example1 p {
    position: absolute;
    width: 200%;
    height: 200%;
    margin: 0;
    line-height: 30px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: example1 10s linear infinite;
    -webkit-animation: example1 10s linear infinite;
    animation: example1 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
    0%   {
        -moz-transform: translateX(100%); /* Firefox bug fix */
        -webkit-transform: translateX(100%); /* Firefox bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Firefox bug fix */
        -webkit-transform: translateX(-100%); /* Firefox bug fix */
        transform: translateX(-100%);
    }
}
.example1 p:hover {
    -moz-animation-play-state: paused;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}